<section class="box-hover" data-scroll-index="1">
    <div class="container">
        <div class="section-heading">
            <h3>MOTO KLUB</h3>
            <p class="width-55 sm-width-75 xs-width-95">Biz <b>ODLAR YURDUNUN</b> insanlarıyıq</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 sm-margin-20px-bottom">
                <div class="feature-box-01">
                    <img class="font-size36 margin-20px-bottom" src="{{ url_for('static', filename='img/logo/logo.png') }}" style="background-color: black;"></img>
                    <h4 class="font-size18 margin-10px-bottom">KLUB HAQQINDA</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 sm-margin-20px-bottom">
                <div class="feature-box-01">
                    <img class="font-size36 margin-20px-bottom" src="{{ url_for('static', filename='img/logo/logo.png') }}" style="background-color: #4d432a;"></img>
                    <h4 class="font-size18 margin-10px-bottom">KLUBUN NIZAMNAMESI</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="feature-box-01">
                    <img class="font-size36 margin-20px-bottom" src="{{ url_for('static', filename='img/logo/logo.png') }}" style="background-color: #d0ad55;"></img>
                    <h4 class="font-size18 margin-10px-bottom">SUAL/CAVABLAR</h4>
                </div>
            </div>
        </div>
    </div>
</section>
                    