
<section class="parallax" data-overlay-dark="7" data-background="{{ url_for('static', filename='img/bg/bg1.jfif') }}">
    <div class="container text-center">
        <div class="section-heading half white">
            <h4>'FIRELAND RUN' başlamasına qalan müddət:</h4>

            <ul class="countdown text-center no-padding no-margin">
                <!-- start days -->
                <li><span class="days">00</span>
                    <p class="timeRefDays text-center">days</p>
                </li>
                <!-- end days -->
                <!-- start hours -->
                <li><span class="hours">50</span>
                    <p class="timeRefHours">hours</p>
                </li>
                <!-- end hours -->
                <!-- start minutes -->
                <li><span class="minutes">00</span>
                    <p class="timeRefMinutes">minutes</p>
                </li>
                <!-- end minutes -->
                <!-- start seconds -->
                <li><span class="seconds">00</span>
                    <p class="timeRefSeconds">seconds</p>
                </li>
                <!-- end seconds -->
            </ul>
                                                        
    </div>
</section>
                    