<section class="parallax" data-overlay-dark="7" data-background="{{ url_for('static', filename='img/bg/bg2.jpg') }}">
<!-- <div class="bg-theme padding-40px-tb"> -->
    <div class="container">
        <!--Row Start-->
        <div class="row">
            <div class="col-md-12 text-center">
                <h6 class="text-white margin-10px-bottom line-height-40 font-weight-600">Klubun Nizamnaməsi</h6>
                <a href="javascript:void(0)" class="butn white"><span>Yükle</span></a>
            </div>
        </div>
        <!--Row End-->
    </div>
<!-- </div> -->
</section>