        <!-- start header section -->
        <header class="header-style6">

            <div class="navbar-default">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light no-padding">

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- Start Logo -->
                                        <a href="{{ url_for('index') }}" class="navbar-brand logowhite">
                                            <img id="logo" src="{{ url_for('static', filename='img/logo/logo.png') }}" alt="logo">
                                        </a>
                                        <!-- End Logo -->
                                    </div>

                                    <div class="navbar-toggler"></div>

                                    <!-- Menu Area -->
                                    <ul class="navbar-nav ml-auto" id="nav" style="display: none;">
                                        <li><a href="#">FİreLanders</a>

                                        </li>
                                        <li><a href="#">Moto Klub</a>

                                        </li>
                                        <li><a href="#">Klubun Nizamnaməsi</a>
 
                                        </li>                                        
                                        <li><a href="#">Haqqımızda</a>

                                        </li>
                                        <li><a href="#">Suallar Və Cavablar</a>

                                        </li>
                                        <li><a href="#">Xəbərlər</a>

                                        </li>                                        
                                        <li><a href="#">Bİzə Qoşul</a>
                                        </li>
                                        
                                    </ul>
                                    <!-- End Menu Area --> 
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header section -->