<section data-scroll-index="5">
    <div class="container">
        <div class="row">
            <div class="section-heading col align-self-center col-lg-12">
                <h3>XEBERLER</h3>
                </div>
            <div class="col-lg-6 col-md-12 sm-margin-50px-bottom xs-margin-30px-bottom">
                <div class="padding-30px-left sm-no-padding">
                   {{ news.text|safe }}
                </div>
            </div>
            <!-- start our story video-->
            <div class="col-lg-6 col-md-12 sm-margin-50px-bottom xs-margin-30px-bottom">
                <div class="col-sm-12">
                <iframe style="border: 5px solid #d0ad55;" src="https://www.youtube.com/embed/3ctI0Q1XsLU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe style="margin-top: 30px; border: 5px solid #d0ad55;" src="https://www.youtube.com/embed/L7G3BxWRtX0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe style="margin-top: 30px; border: 5px solid #d0ad55;" src="https://www.youtube.com/embed/wZ2JjjMdEq8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>
            <!-- end our story video -->
        </div>
    </div>
</section>