        <!-- start revolution slideshow-->
        <div class="rev_slider_wrapper">
            <div class="rev_slider" id="rev_slider_3" data-version="5.4.5">
                <ul>
                    {% for photo in ssphotos %}
                    <!-- SLIDE 1 -->
                    <li data-fstransition="fade" data-transition="fade" data-easein="default" data-easeout="default" data-slotamount="1" data-masterspeed="1200" data-delay="8000" data-title="We Plan Business">

                        <!-- Overlay -->
                        <div class="opacity-medium bg-theme z-index-1"></div>

                        <!-- MAIN IMAGE -->
                        <img src="{{ url_for('static', filename='img/slideshow/{}'.format(photo.file)) }}" alt="" data-bgrepeat="no-repeat" data-bgfit="cover" data-bgparallax="7" class="rev-slidebg">

                        <!-- HERO TITLE -->
                        <!-- <div class="tp-caption hero-text alt-font font-weight-600 text-white" data-x="30" data-y="center" data-voffset="[-84,-63,-68,-108]" data-fontsize="[72,62,52,46]" data-lineheight="[72,62,52,46]" data-width="[none, none, none, 300]" data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
                                    "delay":1000,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]' data-splitout="none">We Plan Business
                        </div> -->

                        <!-- HERO SUBTITLE -->
                        <!-- <div class="tp-caption small-text text-white slider-text" data-x="30" data-y="center" data-voffset="[10,40,36,56]" data-fontsize="[21,21,21,21]" data-lineheight="34" data-width="[600, 500, 400, 300]" data-whitespace="[nowrap, nowrap, nowrap, normal]" data-frames='[{
                                    "delay":1100,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]'>
                            <p class="white-space">Our Exhaustive Technology of Implementing Multipurpose Projects. Is Putting Your Dream Project Successful.</p>
                        </div> -->

                        <!-- BUTTON -->
                        <!-- <div class="tp-caption" data-x="30" data-y="center" data-voffset="[102,145,150,204]" data-lineheight="55" data-hoffset="0" data-frames='[{
                                        "delay":1200,
                                        "speed":900,
                                        "frame":"0",
                                        "from":"y:150px;opacity:0;",
                                        "ease":"Power3.easeOut",
                                        "to":"o:1;"
                                        },{
                                        "delay":"wait",
                                        "speed":1000,
                                        "frame":"999",
                                        "to":"opacity:0;","ease":"Power3.easeOut"
                                    }]'><a href='#' class='butn white'><span>View Project</span></a>
                        </div> -->

                    </li>
                    <!-- end slide 1 -->
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- end revolution slideshow-->